<!DOCTYPE html>
<html>
  <head>
    <title> CREATE PAGE </title>
  </head>

  <body>
    <h2> Welcome to the add page. Add to a story here!!!<h2> <br>

    {{ title }} <br><br>
    {{ latest_contribution }} <br><br>
    BY {{ publisher }}

    <form action="/save" method="post">
      <input type="hidden" name="title" value={{title}}></input><br>
      <textarea name="contribution" placeholder="contribution" maxlength="200" wrap="hard" required></textarea><br>
      <input type="submit" name="submit" value="save">
    </form>

    <form action="/home" method="post">
        <input type="submit" name="submit" value="home">
    </form>

  </body>
</html>
