<!DOCTYPE html>
<html>
  <head>
    <title> HOME PAGE </title>
  </head>

  <body>
  <h2> Welcome to the home page. Congrats for successfully logging in!!!<h2>

    <form action="/create" method="post">
      <input type="submit" name="submit" value="create new story">
    </form>

    <form action="/logout" method="post">
        <input type="submit" name="submit" value="logout">
    </form>

    {% for i in range(3) %}
      <br>
    {% endfor %}

    {% for title in titles %}
      <form action="/view" method="post">
        <input type="hidden" name="title" value={{title}}>
        <input type="submit" name="submit" value={{title}}>
      </form>
    {% endfor %}
  </body>
</html>
